@model IEnumerable<Domain.Servico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Cadastrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoServico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoServico)
            </td>
            <td>
                <a asp-action="Alterar" asp-route-id="@item.IdServico">Edit</a> |
                <a asp-action="Remover" asp-route-id="@item.IdServico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
