@model IEnumerable<Domain.Quarto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Cadastrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeQuarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoQuarto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeQuarto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoQuarto)
            </td>
            <td>
                <a asp-action="Alterar" asp-route-id="@item.IdQuarto">Edit</a> |
                <a asp-action="Remover" asp-route-id="@item.IdQuarto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
